<article>
    <header class="border-bottom">
        <h1>{{title}}</h1>
    </header>

    <p>
        A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation; only alphanumeric characters matter)
    </p>
    <p>
        This website will help you check whether a string is a palindrome or not.
    </p>
    <form action="/result" method="post">
    <label for="text-to-test">Enter text to test for palindromity:</label>
    <input type="text" name="text-to-test" id="text-to-test">
    <input type="submit" value="Submit">
  </form>
</article>