<article>
    <p>
        A palindrome is a phrase that is spelled the same way, backwards and forwards (ignoring spacing and punctuation; only alphanumeric characters matter)
    </p>
    <p>
        This website will help you check whether a string is a palindrome or not.
    </p>
    <form onsubmit="return formSubmit()">
        <label for="phrase">Enter text to test for palindromity:</label>
        <input type="text" name="phrase" id="phrase">
        <input type="submit" value="Submit">
    </form>
    <ul id = "attempts">
    </ul>
</article>